layout: index
description: Metaverse is a decentralised infrastructure platform based on blockchain technology. 
subtitle: Metaverse Documentations
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast Transfering
      p.intro-feature-desc Metaverse brings you incredible transfering speed. 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-money
      h3.intro-feature-title User Friendly Tokens
      p.intro-feature-desc You can create and issue any tokens on Metaverse.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-credit-card
      h3.intro-feature-title Build-in Identities
      p.intro-feature-desc You only need one identity to control your all applications.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-exchange
      h3.intro-feature-title Onchain Exchange
      p.intro-feature-desc Metaverse will have a powerful onchain matching exchange system. You can do decentralised trading anytime.
