layout: index
description: Metaverse is a decentralised infrastructure platform based on blockchain technology. 
subtitle: Metaverse Documentations
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast Transfering
      p.intro-feature-desc The Metaverse blockchain brings you incredible transfering speed. 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-money
      h3.intro-feature-title User Friendly Tokens
      p.intro-feature-desc Metaverse Smart Token brings you safty convenient token mechanism.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-credit-card
      h3.intro-feature-title Sovereign Digital Identities
      p.intro-feature-desc Connect your asset and your identity with Metaverse Avatar.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-exchange
      h3.intro-feature-title MST Exchange
      p.intro-feature-desc An open MST on-chain exchange protocol, enjoy trading anytime.
