layout: index
description: Metaverse is a decentralised platform based on blockchain technology. 
subtitle: 元界官方文档
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 超快转账速度
      p.intro-feature-desc 元界所带来的超快转账速度，让所有交易几秒内瞬间完成转移。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-money
      h3.intro-feature-title 自定义资产Token
      p.intro-feature-desc 支持用户自定义Token，您只需使用鼠标点击，而不用撰写代码。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-credit-card
      h3.intro-feature-title 内置数字身份
      p.intro-feature-desc 你只需要一个身份去管理所有应用，完全自我掌控的身份。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-exchange
      h3.intro-feature-title 链上撮合交易
      p.intro-feature-desc 元界将集成一个去中心化的交易模块。
